body {
    font-family: 'Inter', sans-serif;
    background-color: #ECE7E7;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    align-items: start;
    overflow-x: hidden;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    margin: 1vw;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 8%;
    left: 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    text-align: center;
    gap: 0.5em;
    margin-top: 7%;
}

a {
    color: #000;
    text-decoration: none;
}


button {
    all: unset;
}

button:active:hover {
    border: 1px solid #000;
}

.trabalhos-aba {
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
}

.trabalhos-aba p {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 500;
    margin-inline: 10%;
    background-color: #FFF59A;
    border-radius: 10px;
    padding: 1%;
    border: 6px solid #D9D9D9;
}

#cards {
    column-count: 2;
    column-gap: 5%;
    padding: 2vw;
}

#card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0% 0% 4% 0vh;
    break-inside: avoid;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 0%;
    gap: 20pt;
    display: flex;
    flex-direction: column;
}


#titulo-projeto {
    background-color: #5d42ff;
    border-radius: 10px;
    box-shadow: inset 4px -5px 0px rgb(0 0 0 / 32%);
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#card a {
    max-width: 90%;
}


#titulo-projeto h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 19pt;
}

.texto-projeto {
    font-family: 'Inter', sans-serif;
    background-color: #d1c9ff;
    border-radius: 10px;
    align-self: center;
    padding: 33px 15px 29px;
    /* margin: 0px 43px; */
    line-height: 35px;
}

.texto-projeto p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: 200;
    font-size: 19pt;
    color: #000000;
    margin-inline: 20px;
    text-indent: 20px;
    margin: 0px 15px;
}

.linha-preta-l {
    background-color: #000;
    width: 44%;
    height: 6px;
    margin-right: 1%;
    left: 0;
}

.linha-preta-r {
    background-color: #000;
    width: 44%;
    height: 6px;
    margin-left: 1%;
    right: 0;
}

.estilizado-trabalhos {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.estilizado-trabalhos h2 {
    font-size: 40px;
    font-weight: 800;
}

#conteudo {
    padding: 8vh 0vh 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 75vw;
}

@media (max-width: 600px) {

    .botoes {
        left: auto;
        align-self: center;
        position: static;
    }

    .estilizado-trabalhos h2 {
        font-size: 24px;
        font-weight: 800;
    }

    .bloco-principal {
        margin-top: 4vh;
    }

    .trabalhos-aba p {
        font-family: 'Inter';
        font-size: 11pt;
        font-weight: 500;
        background-color: #FFF59A;
        border-radius: 10px;
        padding: 10pt;
        border: 4pt solid #D9D9D9;
        margin-inline: 7pt;
        margin-top: auto;
        border-top: 0;
    }


    .texto-projeto {
        font-family: 'Inter', sans-serif;
        background-color: #bfb5ff;
        border-radius: 10px;
        align-self: center;
        padding: 4pt 10pt;
        margin: 0pt 18pt;
        line-height: 35px;
    }

    .texto-projeto p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-align: justify;
        font-weight: 200;
        font-size: 11pt;
        color: #000000;
        margin-inline: 6pt;
        text-indent: 10pt;
        margin: 6pt 0pt;
        text-align: center;
        line-height: 18pt;
    }

    #titulo-projeto {
        left: 0;
    }

    #titulo-projeto h3 {
        font-family: 'Roboto Mono', monospace;
        font-size: 13pt;
        word-wrap: break-word;
        /* Quebra palavras longas para a próxima linha */
        overflow-wrap: break-word;
        /* Quebra palavras longas para a próxima linha */
        white-space: normal;
        /* Permite que o texto quebre a linha conforme necessário */
    }

    #cards {
        column-count: 1;
        padding: 0;
    }

    #conteudo {
        padding: 8vh 0vh 5vh 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        width: auto;
    }


    #card {
        align-items: center;

    }
}

@media (max-width: 720px) {}