body {
    font-family: Arial, sans-serif;
    background-color: #ECE7E7;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    align-items: start;
}

.aba {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 100%;
    background: #FFF59A;
    border-right: 1pt solid #d2d2d2;
    position: sticky;
    overflow-y: scroll;
    top: 0;
    height: 100vh;
    text-align: center;
}
.aba img {
    border-radius: 50%;
    max-width: 200px;
    min-height: 180px;
    margin: 0 auto 0 auto;
}

.aba h1 {
    padding: 10% 0 0 0;
}

.botoes {
	display: flex;
	flex-direction: column;
	gap: 8%;
	left: 63px;
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	align-self: center;
	text-align: center;
	gap: 0.5em;
	margin-top: 7%;
}

a {
    color: #000;
    text-decoration: none;
}

.botao-inicio {
    width: 9em;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botao-trabalhos {
    width: 9em;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    /* Adicionado para centralizar o texto verticalmente */
    justify-content: center;
    text-align: center;
    display: flex;
}

button {
    all: unset;
}

button:active {
    border: 1px solid #000;
}

.trabalhos-aba {
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
}

.trabalhos-aba p {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 500;
    margin-inline: 10%;
    background-color: #FFF59A;
    border-radius: 10px;
    padding: 1%;
    border: 6px solid #D9D9D9;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5%;
}

.column {
	flex: 1;
	padding: 0%;
	gap: 20pt;
	display: flex;
	flex-direction: column;
}

.bloco-principal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 51px;
}

.titulo-projeto {
    background-color: #41928d;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: -55px;
    left: 6%;
    z-index: 1;
    padding: 0px 4%;
}

.titulo-projeto h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 19pt;
}

.texto-projeto {
	font-family: 'Inter', sans-serif;
	background-color: #D9D9D9;
	border-radius: 10px;
	align-self: center;
	padding: 33px 15px 29px;
	/* margin: 0px 43px; */
	line-height: 35px;
}

.texto-projeto p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: 200;
    font-size: 19pt;
    color: #000000;
    margin-inline: 20px;
    text-indent: 20px;
    margin: 0px 15px;
}

.linha-preta-l {
    background-color: #000;
    width: 44%;
    height: 6px;
    margin-right: 1%;
    left: 0;
}

.linha-preta-r {
    background-color: #000;
    width: 44%;
    height: 6px;
    margin-left: 1%;
    right: 0;
}

.estilizado-trabalhos {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.estilizado-trabalhos h2 {
    font-size: 40px;
    font-weight: 800;
}


@media (max-width: 600px) {

    .botoes {
        left: auto;
        align-self: center;
        position: static;
    }

    .estilizado-trabalhos h2 {
        font-size: 24px;
        font-weight: 800;
    }

    .trabalhos-aba p {
        font-family: 'Inter';
        font-size: 11pt;
        font-weight: 500;
        background-color: #FFF59A;
        border-radius: 10px;
        padding: 10pt;
        border: 4pt solid #D9D9D9;
        margin-inline: 7pt;
        margin-top: auto;
        border-top: 0;
    }


    .texto-projeto {
        font-family: 'Inter', sans-serif;
        background-color: #D9D9D9;
        border-radius: 10px;
        align-self: center;
        padding: 18pt 10pt;
        margin: 0px 18pt;
        line-height: 35px;
    }

    .texto-projeto p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-align: justify;
        font-weight: 200;
        font-size: 11pt;
        color: #000000;
        margin-inline: 6pt;
        text-indent: 10pt;
        margin: 6pt 0pt;
        text-align: center;
        line-height: 18pt;
    }


    .titulo-projeto h3 {
        font-family: 'Roboto Mono', monospace;
        font-size: 13pt;
    }

    .titulo-projeto {
        background-color: #41928d;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: auto;
        height: 31pt;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: -23pt;
        left: 25pt;
        z-index: 1;
        padding: 0px 4%;
        font-size: 15pt;
    }


    .cards {
        height: auto;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 35pt;
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: 0;
        gap: 44pt;
        margin-bottom: 2%;
    }

    .aba {
        align-items: center;
    }

}

@media (max-width: 720px) {
    
    .botoes {
        left: auto;
        align-self: center;
        position: static;
    }

    .estilizado-trabalhos h2 {
        font-size: 24px;
        font-weight: 800;
    }

    .trabalhos-aba p {
        font-family: 'Inter';
        font-size: 11pt;
        font-weight: 500;
        /* margin-inline: 142px; */
        background-color: #FFF59A;
        border-radius: 10px;
        padding: 10pt;
        border: 4pt solid #D9D9D9;
        margin-inline: 7pt;
        margin-top: auto;
        border-top: 0;
    }


    .texto-projeto {
        font-family: 'Inter', sans-serif;
        background-color: #D9D9D9;
        border-radius: 10px;
        align-self: center;
        padding: 18pt 10pt;
        margin: 0px 18pt;
        line-height: 35px;
    }

    .texto-projeto p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        text-align: justify;
        font-weight: 200;
        font-size: 11pt;
        color: #000000;
        margin-inline: 6pt;
        text-indent: 10pt;
        margin: 6pt 0pt;
        text-align: center;
        line-height: 18pt;
    }


    .titulo-projeto h3 {
        font-family: 'Roboto Mono', monospace;
        font-size: 13pt;
    }

    .titulo-projeto {
        background-color: #41928d;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: auto;
        height: 31pt;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: -23pt;
        left: 25pt;
        z-index: 1;
        padding: 0px 4%;
        font-size: 15pt;
    }


    .aba {
        align-items: center;
    }

    .botoes {
        left: 0;
        align-self: center;
        position: static;

    }
}